# Rain in Australia

## Exploring the data

In [77]:
import pandas as pd
import numpy as np

In [78]:
df = pd.read_csv("data/proj36/weatherAUS.csv")
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [79]:
df.head().T

                        0           1           2           3           4
Date           2008-12-01  2008-12-02  2008-12-03  2008-12-04  2008-12-05
Location           Albury      Albury      Albury      Albury      Albury
MinTemp              13.4         7.4        12.9         9.2        17.5
MaxTemp              22.9        25.1        25.7        28.0        32.3
Rainfall              0.6         0.0         0.0         0.0         1.0
Evaporation           NaN         NaN         NaN         NaN         NaN
Sunshine              NaN         NaN         NaN         NaN         NaN
WindGustDir             W         WNW         WSW          NE           W
WindGustSpeed        44.0        44.0        46.0        24.0        41.0
WindDir9am              W         NNW           W          SE         ENE
WindDir3pm            WNW         WSW         WSW           E          NW
WindSpeed9am         20.0         4.0        19.0        11.0         7.0
WindSpeed3pm         24.0        22.0        26.0         9.0        20.0
Humidity9am          71.0        44.0        38.0        45.0        82.0
Humidity3pm          22.0        25.0        30.0        16.0        33.0
Pressure9am        1007.7      1010.6      1007.6      1017.6      1010.8
Pressure3pm        1007.1      1007.8      1008.7      1012.8      1006.0
Cloud9am              8.0         NaN         NaN         NaN         7.0
Cloud3pm              NaN         NaN         2.0         NaN         8.0
Temp9am              16.9        17.2        21.0        18.1        17.8
Temp3pm              21.8        24.3        23.2        26.5        29.7
RainToday              No          No          No          No          No
RainTomorrow           No          No          No          No          No

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

## Cleaning the data

In [81]:
df.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [82]:
df["MinTemp"].fillna(np.mean(df["MinTemp"]), inplace=True)
df["MaxTemp"].fillna(np.mean(df["MaxTemp"]), inplace=True)
df["Rainfall"].fillna(np.mean(df["Rainfall"]), inplace=True)
df["Evaporation"].fillna(0, inplace=True)
df["Sunshine"].fillna(0, inplace=True)
df["WindGustSpeed"].fillna(np.mean(df["WindGustSpeed"]), inplace=True)
df["WindSpeed9am"].fillna(np.mean(df["WindSpeed9am"]), inplace=True)
df["WindSpeed3pm"].fillna(np.mean(df["WindSpeed3pm"]), inplace=True)
df["Humidity9am"].fillna(np.mean(df["Humidity9am"]), inplace=True)
df["Humidity3pm"].fillna(np.mean(df["Humidity3pm"]), inplace=True)
df["Pressure9am"].fillna(np.mean(df["Pressure9am"]), inplace=True)
df["Pressure3pm"].fillna(np.mean(df["Pressure3pm"]), inplace=True)
df["Cloud9am"].fillna(np.mean(df["Cloud9am"]), inplace=True)
df["Cloud3pm"].fillna(np.mean(df["Cloud9am"]), inplace=True)
df["Temp9am"].fillna(np.mean(df["Temp9am"]), inplace=True)
df["Temp3pm"].fillna(np.mean(df["Temp3pm"]), inplace=True)

In [83]:
from sklearn.preprocessing import LabelEncoder
for stuff in df.keys()[1:]:
    if pd.api.types.is_object_dtype(df[stuff]) == True:
        le = LabelEncoder()
        df[stuff] = le.fit_transform(df[stuff])
        print("-"*20)
        print(le.classes_)
        print("-"*20)
    else:
        pass

--------------------
['Adelaide' 'Albany' 'Albury' 'AliceSprings' 'BadgerysCreek' 'Ballarat'
 'Bendigo' 'Brisbane' 'Cairns' 'Canberra' 'Cobar' 'CoffsHarbour'
 'Dartmoor' 'Darwin' 'GoldCoast' 'Hobart' 'Katherine' 'Launceston'
 'Melbourne' 'MelbourneAirport' 'Mildura' 'Moree' 'MountGambier'
 'MountGinini' 'Newcastle' 'Nhil' 'NorahHead' 'NorfolkIsland' 'Nuriootpa'
 'PearceRAAF' 'Penrith' 'Perth' 'PerthAirport' 'Portland' 'Richmond'
 'Sale' 'SalmonGums' 'Sydney' 'SydneyAirport' 'Townsville' 'Tuggeranong'
 'Uluru' 'WaggaWagga' 'Walpole' 'Watsonia' 'Williamtown' 'Witchcliffe'
 'Wollongong' 'Woomera']
--------------------
--------------------
['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW' nan]
--------------------
--------------------
['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW' nan]
--------------------
--------------------
['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW' nan]
--------------------
--------------------
['No' 'Yes' nan]
--------------------
--------------------
['No' 'Yes' nan]
--------------------

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  int64
 2   MinTemp        145460 non-null  float64
 3   MaxTemp        145460 non-null  float64
 4   Rainfall       145460 non-null  float64
 5   Evaporation    145460 non-null  float64
 6   Sunshine       145460 non-null  float64
 7   WindGustDir    145460 non-null  int64
 8   WindGustSpeed  145460 non-null  float64
 9   WindDir9am     145460 non-null  int64
 10  WindDir3pm     145460 non-null  int64
 11  WindSpeed9am   145460 non-null  float64
 12  WindSpeed3pm   145460 non-null  float64
 13  Humidity9am    145460 non-null  float64
 14  Humidity3pm    145460 non-null  float64
 15  Pressure9am    145460 non-null  float64
 16  Pressure3pm    145460 non-null  float64
 17  Cloud9am       145460 non-null  float64
 18  Cloud3pm       145460 non-null  float64
 19  Temp9am        145460 non-null  float64
 20  Temp3pm        145460 non-null  float64
 21  RainToday      145460 non-null  int64
 22  RainTomorrow   145460 non-null  int64
dtypes: float64(16), int64(6), object(1)
memory usage: 25.5+ MB

In [85]:
df.isna().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [86]:
df["RainToday"] =  df["RainToday"].replace(2, 0)
df["RainToday"].unique()

array([0, 1])

In [87]:
df["RainTomorrow"].replace(2, 0, inplace=True)
df["RainTomorrow"].unique()

array([0, 1])

In [88]:
df["WindGustDir"].replace(16, 13, inplace=True)
df["WindDir9am"].replace(16, 3, inplace=True)
df["WindDir3pm"].replace(16, 9, inplace=True)

In [93]:
df["Date"][0].split("-")

years = []
months = []
days = []

for i in range(0, len(df["Date"])):
    split_date = df["Date"][0].split("-")
    years.append(split_date[0])
    months.append(split_date[1])
    days.append(split_date[2])

df["Year"] = years
df["Month"] = months
df["Day"] = days

In [95]:
df.drop("Date", axis=1, inplace=True)
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Day
0,2,13.4,22.9,0.6,0.0,0.0,13,44.0,13,14,...,1007.1,8.000000,4.447461,16.9,21.8,0,0,2008,12,01
1,2,7.4,25.1,0.0,0.0,0.0,14,44.0,6,15,...,1007.8,4.447461,4.447461,17.2,24.3,0,0,2008,12,01
2,2,12.9,25.7,0.0,0.0,0.0,15,46.0,13,15,...,1008.7,4.447461,2.000000,21.0,23.2,0,0,2008,12,01
3,2,9.2,28.0,0.0,0.0,0.0,4,24.0,9,0,...,1012.8,4.447461,4.447461,18.1,26.5,0,0,2008,12,01
4,2,17.5,32.3,1.0,0.0,0.0,13,41.0,1,7,...,1006.0,7.000000,8.000000,17.8,29.7,0,0,2008,12,01

In [96]:
X = df.drop("RainTomorrow", axis=1)
y = df["RainTomorrow"]

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Training the model

In [97]:
from sklearn.ensemble import RandomForestClassifier

rclf = RandomForestClassifier()
rclf.fit(X_train, y_train)

RandomForestClassifier()

In [98]:
rclf.score(X_test, y_test)

0.8565928777670837